/* Style for card-2 (your flexbox example) */
.card-2 { flex-wrap: wrap;
  background-color: rgb(109, 190, 127);
  font-family: "Oswald", sans-serif;
}
.card-2 .card-front {		 
 display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
}
.card-2 .card-front .title {
  background-color: #00cc00;
  padding-left: 121px;
  padding-right: 120px;
  color: white;
  font-size: 150%
}

.card-2 .card-front .family-name{
  color: rgb(251, 255, 0);
}
.card-2 .card-front img {
  margin-left: 120px;
  margin-top: 20px;
  border: 5px solid yellow;
  border-radius: 20%; 
}
.card-2 .card-back .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  padding-right: 62px;
  padding-left: 62px;
  color: white;
  font-size: 120%;
}
.card-2 .card-back h3 {
  text-align: center;
  color: yellow;
}
.card-2 {
  border-style: solid;
  border-color: yellow;
}