.card-1 card-front h1 {
  /* Style for card 1 (your box model example */
  color: rgb(251, 255, 0);
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 10px;
}
.card-1 img {
  margin-left: 120px;
  border-style: solid;
  border-color: yellow;
  
}
.card-1 .card-front h1{
  margin-left: 85px;
  color: rgb(0, 157, 255)
}
.card-1 p {
  margin-top: 155px;
  margin-left: 119px;
}
.card-1 {
  background-color: rgb(183, 20, 20);
}
.card-1 .card-front {
  border-style: groove;
  border-width: 5px;
  border-color:rgb(255, 221, 0); 
}
.card-1 .card-front p {
  font-family: "Oswald", sans-serif;
  color:yellow;
}
.card-1 .card-back .left-back h3 {
  
  color:rgb(251, 255, 0);
  margin-left: 105px;
}

.card-1 .card-back {
  background-color: brown;
  border-style: solid;
  border-color: yellow;
}
.card-1 .card-back .left-back li {
  
  text-align: center;
  color:antiquewhite;
  border: 1px solid;
  font-family: "Oswald", sans-serif;
  background-color: rgb(94, 94, 255)
}
.card-1 .card-back .left-back ul {
margin-right: 30px;
}
